[submodule "bo-ilearnjava"]
	path = bo-ilearnjava
	url = https://github.com/rinaldiarie/bo-ilearnjava.git
    ignore = dirty
[submodule "app-ilearnjava"]
	path = app-ilearnjava
	url = https://github.com/rinaldiarie/app-ilearnjava.git
    ignore = dirty
[submodule "docker"]
	path = docker
	url = https://github.com/rinaldiarie/docker-ilearnjava.git
